.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

#overall {
  display: flex;
  flex-direction: row;
}

.items {
  height: 300px;
  width: 200px;
  padding: 10px;
}

.inner {
  padding: 2px;
}

button {
  margin-top: 4px;
}
